# Can ignore specific files
C
sined/src/sined
middleware/sined
middleware/socks
middleware/locationMgr/lm
ssm/ssmd
protocols/mih/boost_1_48_0
protocols/hip/hipl-1.0.8
protocols/mih/odtone-0.6
protocols/umip/src/mip6d
protocols/umip/src/gram.c
protocols/umip/src/gram.h
protocols/umip/src/pmgr.c
protocols/umip/src/pmgr.h
protocols/umip/src/scan.c
protocols/mih/odtone/dist/output
protocols/mih/odtone/dist/output_miis
protocols/mih/output
protocols/mih/output_miis
experiments/vlc-1.1.13

# Use wildcards as well
*~
*.swp
*.swo
*.o
*.a
*.so
*.man
*.Po
*.out

# Can also ignore all directories and files in a directory.
bin
build
config.h
config.log
config.status
.deps

